@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/montserrat-400-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/julius-sans-one-400-latin.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply
  min-w-[320px] font-Montserrat antialiased text-xs md:text-sm lg:text-base text-white text-center
  bg-[#052e16]
  bg-gradient-to-br from-[#052e16] via-[#064e2a] to-[#065f32]
  bg-center bg-no-repeat bg-cover bg-fixed;
}
